.pc{
  background-image: url(images/E-6-0.png);
}

.side{
  background-image: url(images/e-6-s.png);
}

.back{
  
 background-image: url(images/e-6-b.png);
}

.heart{
 
}

        @media screen and (max-width:767px){
            
            
            

            

        }

        /*小藍平板直*/
        @media screen and (min-width: 768px) and (max-width: 991px){
            
         
            
          
      


        }

        /*小黃平板橫*/
        @media screen and (min-width: 992px) and (max-width: 1199px){
           
            

            

        }
        
      /*小粉桌機*/
        @media screen and (min-width: 1200px){
            
            
        }